<%- include('../partials/_head'); %>

<body>
	<nav>
		<h1>Foods</h1>
		<a href="/logout" class="btn btn-danger" role="button">Logout</a>
		<br /><br />
		<a href="/resource2" class="btn btn-primary" role="button">Resource Page 2</a>
	</nav>
	<hr />
	<main>
		<ul class="container">
			<% foods.forEach(function(food) { %>
			<li class="row">
				<div class="col">
					<div>
						food <%= food.id %>
					</div>
					<ul>
						<li><%= food.name %></li>
						<li><%= food.picture %></li>
						<li><%= food.price %></li>
					</ul>
				</div>
			</li>
			<% }); %>
		</ul>
	</main>
</body>