<%- include('../partials/_head'); %>

<body>
	<a href="/logout" class="btn btn-danger" role="button">Logout</a>
	<nav>
		<h1>Foods</h1>
		<a href="/page/foods/new" class="btn btn-primary" role="button">New Food</a>
	</nav>
	<hr />
	<main>
		<ul class="container">
			<% foods.forEach(function(food) { %>
			<li class="row">
				<div class="col">
					<div>
						<a href="/page/foods/<%= food.id %>">food <%= food.id %>:</a>
					</div>
					<ul>
						<li><%= food.name %></li>
						<li><%= food.picture %></li>
						<li><%= food.price %></li>
					</ul>
				</div>
				<div class="col"></div>
				<div class="col"></div>
				<div class="col button-container">
					<a href="/page/foods/<%= food.id %>" class="btn btn-primary" role="button">Show</a>
					<a href="/page/foods/edit/<%= food.id %>" class="btn btn-info" role="button">Edit</a>
					<form method="POST" action="/foods/<%= food.id %>?_method=DELETE">
						<button type="submit" class="btn btn-danger" role="button">Delete</button>
					</form>
				</div>
			</li>
			<% }); %>
		</ul>
	</main>
</body>