<%- include('../partials/_head'); %>

<body>
	<nav>
		<h1>Users</h1>
		<a href="/page/users/new" class="btn btn-primary" role="button">New User</a>
	</nav>
	<hr />
	<main>
		<ul class="container">
			<% users.forEach(function(user) { %>
			<li class="row">
				<div class="col">
					<div>
						<a href="/page/users/<%= user.id %>">user <%= user.id %></a>
					</div>
					<ul>
						<li><%= user.name %></li>
						<li><%= user.email %></li>
						<li><%= user.phone %></li>
					</ul>
				</div>
				<div class="col"></div>
				<div class="col"></div>
				<div class="col button-container">
					<a href="/page/users/<%= user.id %>" class="btn btn-primary" role="button">Show</a>
					<a href="/page/users/edit/<%= user.id %>" class="btn btn-info" role="button">Edit</a>
					<form method="POST" action="/users/<%= user.id %>?_method=DELETE">
						<button type="submit" class="btn btn-danger" role="button">Delete</button>
					</form>
				</div>
			</li>
			<% }); %>
		</ul>
	</main>
</body>